
body {
    margin: 0;
    font-family: "Public Sans", sans-serif;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #f7f7ff;
}

.my-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}

.container {
    width: 100%;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: auto;
    margin-left: auto;
}

.justify-content-center {
    justify-content: center !important;
}


.justify-content-center {
    justify-content: center !important;
}

.row {
    --bs-gutter-x: 24px;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -0.5);
    margin-left: calc(var(--bs-gutter-x) * -0.5);
}

.card {
    margin-bottom: 24px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid #f5f7fb;
    border-radius: .25rem;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.float-end {
    float: right !important;
}

.form-label {
    margin-bottom: .5rem;
}

.bg-soft-light {
    background-color: rgba(230, 235, 245, .25) !important;
}

.rounded-3 {
    border-radius: .4rem !important;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.input-group .form-control, .input-group .form-select {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}

.text-muted {
    color: #6c757d !important;
}

.form-control {
    display: block;
    width: 100%;
    padding: .5rem 1rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e6ebf5;
}

.form-control-lg {
    min-height: calc(1.5em + 1rem + 6px);
    padding: .5rem 1rem;
    font-size: .875rem;
    margin-left: -1px;
    border-radius: 0 .4rem .4rem 0;
}

.border-light {
    border-color: #e6ebf5 !important;
}

.input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group-text {
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.d-grid {
    display: grid !important;
}

.btn-primary {
    color: #fff !important;
    background-color: #7269ef !important;
    border-color: #7269ef !important;
}

.btn-primary:hover {
    color: #fff !important;
    background-color: #6159cb !important;
    border-color: #5b54bf !important;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .47rem .75rem;
    font-size: .9375rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-check {
    display: block;
    min-height: 1.40625rem;
    padding-left: 1.5em;
    margin-bottom: .125rem;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.p-4 {
    padding: 1.5rem !important;
}

.p-3 {
    padding: 1rem !important;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.text-center {
    text-align: center !important;
}

.error {
    width: 100%;
    color: red;
    background-color: white;
}
.auth_error{
    width: 100%;
    color: red;
    background-color: white;
    padding-bottom: 0.35rem;
}

@media (min-width: 576px) {
    .pt-sm-5 {
        padding-top: 3rem !important;
    }

    .container, .container-sm {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container, .container-md, .container-sm {
        max-width: 720px;
    }

    .col-md-8 {
        flex: 0 0 auto;
        width: 66.66667%;
    }
}

@media (min-width: 992px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: 960px;
    }

    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }

    .col-xl-5 {
        flex: 0 0 auto;
        width: 41.66667%;
    }
}


@media (min-width: 1400px) {
    .container {
        max-width: 1140px;
    }
}

