.text_message {
    display: inline-block;
    margin-right: 20px;
}
.text_message_content{

    color: white;
    display: flex;

    max-width: 50%;


    margin:10px;

}
.ts_p{
    background-color: #0084ff;
    padding: 5px;
    border-radius: 5px;
    font-size: 1rem;
}